{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}
    {% addtoblock "css" %}
        <link href='http://fonts.googleapis.com/css?family=Seymour+One' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet" type="text/css" />
    {% endaddtoblock %}

    <div id="home-logo">
        <div id="logo-left">
            <img src="{{ STATIC_URL }}imgs/home.png">
        </div>
        <div id="logo-right">
            <h1>Vivendo de código</h1>
        </div>
    </div>

    <nav id="nav-orientation">
        <div class="span4 border-jobs"></div>
        <div class="span4 border-events"></div>
        <div class="span4 border-other"></div>
    </nav>

    {% addtoblock "js" %}{% endaddtoblock %}
{% endblock %}