/*
* default configurations
****************************************************************************/

h1 {
    color: #666;
    font-size: 50px;
    font-family: 'Seymour One', sans-serif;
    text-shadow: 2px 2px 2px #ccc;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: inline;
}

/*
* body
****************************************************************************/
#nav-orientation {
    clear: both;
    margin: 100px auto 0 auto;
    width: 980px;
    height: 400px;
}

#nav-orientation .col-lg-3 {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    min-height: 300px;
    margin-right: 26px;
    margin-left: 30px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 4px 4px 5px #f0f0f0;
    -moz-box-shadow: 4px 4px 5px #f0f0f0;
    box-shadow: 4px 4px 5px #f0f0f0;
}

#nav-orientation .border-jobs:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #a6df42;
}

#nav-orientation .border-events:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #e8a0b4;
}

#nav-orientation .border-other:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #46a4e3;
}

.img-detail-50 {
    padding: 20px 0 20px 50px;
}

.img-detail-70 {
    padding: 20px 0 20px 70px;
}

.wk-detail {
    opacity: .85;
    font-size: 14px;
    text-align: center;
}

.wk-detail:hover {
    opacity: 1;
}
