h1 {
    color: #666;
    font-size: 50px;
    font-family: 'Seymour One', sans-serif;
    text-shadow: 2px 2px 2px #ccc;
}

#nav-orientation {
    clear: both;
    margin: 80px auto 0 auto;
    width: 980px;
    min-height: 430px;
}

#nav-orientation .span4 {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    opacity: .34;
    min-height: 400px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: 4px 4px 5px #f0f0f0;
    -moz-box-shadow: 4px 4px 5px #f0f0f0;
    box-shadow: 4px 4px 5px #f0f0f0;
}

#nav-orientation .border-jobs:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid #a6df42;
}

#nav-orientation .border-events:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid #e8a0b4;
}

#nav-orientation .border-other:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid #46a4e3;
}
